/* Footer container styles */
.footer {
  padding: 20px;
  background-color: #333; /* Dark background */
  color: #f1f1f1; /* Light text color */
  text-align: center;
  border-top: 1px solid #444; /* Slightly lighter border */
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Paragraph styles inside the footer */
.footer p {
  margin: 0;
  font-size: 14px;
}

/* Links container */
.links {
  margin: 10px 0;
}

/* Footer links */
.links a, footer a {
  color: #f1f1f1; /* Light text color for links */
  text-decoration: none;
  margin: 0 10px;
}

/* Hover effect for footer links */
.links a:hover, footer a:hover {
  text-decoration: underline;
  color: #ddd; /* Slightly lighter color on hover */
}

/* Social Icons container */
.socialIcons {
  margin-top: 10px;
}

/* Social Icons styles */
.socialIcons a {
  color: #f1f1f1; /* Light color for social icons */
  margin: 0 10px;
  font-size: 30px; /* Larger icon size */
  transition: color 0.3s ease, transform 0.3s ease; /* Add smooth transition */
}

/* Social Icons hover effects */
.socialIcons a:hover {
  color: #007bff; /* Change color on hover */
}

/* Scale effect on hover */
.socialIcons svg:hover {
  transform: scale(1.3); /* Enlarge the icon on hover */
}
