/* footer.module.css */
.footer {
    padding: 20px;
    background-color: #333; /* Dark background */
    color: #f1f1f1; /* Light text color */
    text-align: center;
    border-top: 1px solid #444; /* Slightly lighter border */
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }
  
  .links {
    margin: 10px 0;
  }
  
  .links a {
    color: #f1f1f1; /* Light text color for links */
    text-decoration: none;
    margin: 0 10px;
  }
  
  .links a:hover {
    text-decoration: underline;
    color: #ddd; /* Slightly lighter color on hover */
  }
  
  .socialIcons {
    margin-top: 10px;
  }
  
  .socialIcons a {
    color: #f1f1f1; /* Light color for social icons */
    margin: 0 10px;
    font-size: 30px; /* Larger icon size */
    transition: color 0.3s ease;
  }
  
  .socialIcons a:hover {
    color: #007bff; /* Change color on hover */
 
  }
  
  .socialIcons svg:hover {

    transform: scale(1.3);
  }
  